//import fonts into stylesheet
@import 'fonts';

a {
  &:hover, &:focus, &:active {
    text-decoration: none;
    outline: none 0 !important;
  }
}

input:focus {
  text-decoration: none;
  outline: none 0 !important;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 150px;
  /* this needs to be bigger than footer height*/
}

body {
  /*background:#fafafa;*/
  background: #fff;
  color: #454545;
  font-family: 'proxima_nova_rgregular';
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.01em;
  /*color: #102569;*/
}

.mg2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  max-width: 1140px;
  width: 100%;
  /*min-height: 100%;*/
}

.center-fluid {
  width: 100%;
  margin: 0 auto;
}

.pd5 {
  /*margin: 10px;*/
  padding: 5px;
}

.imagedetail {
  background: #e93b90;
  padding: 25px 30px;
}

#top {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}

.top {
  text-align: right;
  color: #333333;
  font-size: 16px;
  text-transform: uppercase;
  background: #fff;
  padding-top: 8px;
  ul {
    list-style-type: none;
    padding-left: 0;
    float: right;
    padding: 5px 0;
    margin-bottom: 0;
    li {
      font-family: 'proxima_nova_rgregular';
      display: inline-block;
      float: left;
      color: #898989;
      font-size: 14px;
      &:last-child {
        padding-right: 0;
      }
      span {
        font-weight: 400;
      }
      a {
        font-size: 14px;
        display: block;
        line-height: 20px;
        margin-right: 8px;
      }
    }
    button {
      background: transparent;
      padding: 0;
    }
    .btn {
      &.active, &:active {
        box-shadow: none;
      }
    }
    li ul li {
      display: block;
      float: none;
    }
  }
}

.navbar-brand {
  font-size: 30px;
  font-family: 'Droid Serif' !important;
  font-style: normal;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  span {
    color: #4a7e18;
    font-family: 'Droid Serif' !important;
    font-style: normal;
    font-weight: 400;
  }
}

.navbar-nav > li > a {
  padding: 10px;
}

.nav > li > a {
  color: #636363;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-family: 'proxima_novasemibold';
}

.navbar-nav > li > a {
  font-size: 14px;
  text-transform: uppercase;
}

.nav > li > a {
  &:focus, &:hover {
    background: none;
    color: #ff5a00;
  }
}

.dropdown-menu {
  z-index: 99999;
}

img {
  max-width: 100%;
}

.nav {
  &.login-section li {
    padding-left: 10;
    padding-right: 0;
    a {
      border-radius: 0px;
      border-radius: 0px;
      padding: 4px 10px;
      font-size: 14px;
      font-family: 'proxima_novasemibold';
      border: 1px solid #898989;
      text-transform: uppercase;
    }
    &:last-child a {
      border-left: 0;
    }
    a {
      &:hover, &:focus {
        background: #ff5a00;
        color: #fff;
        border-color: #4a7e18;
      }
    }
  }
  > li {
    padding-top: 10px;
  }
}

.navbar-toggle .icon-bar {
  background: #333 none repeat scroll 0 0;
  border-radius: 1px;
  display: block;
  height: 3px;
  width: 22px;
}

#bs-navbar {
  clear: right;
}

.navbar {
  margin-bottom: 0px;
}

@media (min-width: 767px) {
  .nav {
    > li {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 0px;
    }
    &.login-section {
      padding-left: 25px;
      padding-top: 6px;
      li {
        padding-left: 0;
        &:last-child a {
          border-left: 0;
        }
      }
    }
  }
  .navbar-right {
    margin-right: 0;
  }
  .search-wrap {
    .col-sm-2 {
      width: 15.2%;
      background: #fff;
    }
    .col-sm-3 {
      width: 17.0%;
      background: #fff;
    }
    .col-sm-4 {
      width: 30.2%;
      background: #fff;
    }
    .col-sm-1 {
      width: 10.2%;
      background: #fff;
    }
  }
  .hotel-search .search-wrap .col-sm-2, .flight-search .search-wrap .col-sm-2 {
    width: 13.2%;
    background: #fff;
  }
  .hotel-search .search-wrap .col-sm-4, .flight-search .search-wrap .col-sm-4 {
    width: 30.2%;
    background: #fff;
  }
  .hotel-search .search-wrap .col-sm-3, .flight-search .search-wrap .col-sm-3 {
    width: 17.0%;
    background: #fff;
  }
  .hotel-search .search-wrap .col-sm-1, .flight-search .search-wrap .col-sm-1 {
    width: 9.2%;
    background: #fff;
  }
  .hotel-search .search-wrap input[type="submit"], .flight-search .search-wrap input[type="submit"] {
    margin-left: 0;
  }
  .flight-searching .col-sm-3 {
    width: 19%;
  }
  .search-wrap.car-result .input-append.bdr {
    border-left: 0;
    border-right: 0;
  }
}

.hotel-search input, .flight-search input, .car-result input {
  color: #ff5a00;
  font-size: 16px;
  font-family: 'proxima_nova_rgregular';
}

.hotel-city .bootstrap-select:before {
  font-family: FontAwesome;
  content: "\f041";
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 12px;
  z-index: 99;
  color: #959595;
}

.preferred-airline .bootstrap-select:before {
  font-family: FontAwesome;
  content: "\f072";
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 12px;
  z-index: 99;
  color: #959595;
}

.btn-travel {
  background: #ffe113;
  /*background: #ff5a00;*/
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #999;
  border-radius: 3px;
}

.border {
  border: 1px solid #999;
  border-radius: 3px;
}

.border-btm {
  border-bottom: 1px solid #ccc;
}

.border-btm-white {
  border-bottom: 1px solid #fff;
}

.border-btm-orange {
  border-bottom: 2px solid #ff5a00;
}

.hotel-city .bootstrap-select .form-control {
  padding-left: 20px;
}

/*.search-wrap .input-append{border-right:1px solid #ccc}*/

.search-wrap {
  .input-append {
    border-right: 1px solid #ccc;
    background: #fff;
    font-size: 14px;
  }
  .input-box {
    width: 100%;
  }
  .input-append {
    .input-box {
      height: 50px;
    }
    padding-left: 10px;
    padding-right: 10px;
  }
  .col-sm-2.input-append {
    padding-left: 10px;
    padding-right: 10px;
  }
  .input-append .icon {
    position: absolute;
    right: 10px;
    top: 17px;
    z-index: 9;
    color: #959595;
  }
}

.delete_multi {
  border-radius: 50px;
}

.calendar {
  position: relative;
  &:before {
    font-family: FontAwesome;
    content: "\f073";
    font-size: 16px;
    left: 0;
    position: absolute;
    top: 12px;
    z-index: 99;
    color: #959595;
  }
}

.flight-search .radio-custom label, .hotel-search .radio-custom label {
  margin-right: 25px;
  font-size: 16px;
  font-weight: 500;
}

.car-search-section .radio-custom label {
  margin-right: 25px;
  font-size: 16px;
  font-weight: 500;
  padding-top: 5px;
}

.flight-search .radio-custom label:before, .hotel-search .radio-custom label:before, .car-search-section .radio-custom label:before {
  background: url(../images/uncheck1.png) 0 0 no-repeat;
  height: 20px;
  width: 20px;
}

.flight-search .radio-custom {
  input[type="radio"]:checked + label:before, &.current label:before {
    background: url(../images/checked1.png) 0 0 no-repeat;
  }
}

.hotel-search .radio-custom.current label:before, .car-search-section .radio-custom.current label:before {
  background: url(../images/checked1.png) 0 0 no-repeat;
}

.navbar-toggle {
  position: absolute;
  right: 4px;
  top: 12px;
}

.search-section {
  .nav-tabs {
    border-bottom: 2px solid transparent;
    position: relative;
  }
  .nav > li {
    > a {
      border: 1px solid #CCCCCC;
      border-left: 0;
    }
    &:first-child > a {
      border-left: 2px solid;
      border-right: 1px solid;
    }
  }
}

/*.search-section .nav-tabs::before {*/
/*background: #fff none repeat scroll 0 0;*/
/*bottom: -2px;*/
/*content: "";*/
/*display: block;*/
/*height: 2px;*/
/*position: absolute;*/
/*right: 0;*/
/*width: 42%;*/
/*}*/

.nav-tabs > li.active > a {
  border: 1px solid #CCCCCC;
  border-bottom: transparent;
  background: #FFF;
  color: #333;
  &:focus, &:hover {
    border: 1px solid #CCCCCC;
    border-bottom: transparent;
    background: #FFF;
    color: #333;
  }
}

.search-section .responsive-tabs li.active a {
  border: 1px solid #CCCCCC;
  border-bottom: transparent;
  background: #FFF;
  color: #333;
}

.nav-tabs.hometabs > li.active > a {
  background: #102569;
  /*background: #f5f5f5;*/
  border-bottom-color: transparent;
  /*color: #333;*/
  color: #fff;
  &:focus, &:hover {
    background: #102569;
    /*background: #f5f5f5;*/
    border-bottom-color: transparent;
    /*color: #333;*/
    color: #fff;
  }
}

.search-section .responsive-tabs li.active a {
  background: #102569;
  /*background: #f5f5f5;*/
  border-bottom-color: transparent;
  /*color: #333;*/
  color: #fff;
}

.tabs-below > .nav-tabs, .tabs-right > .nav-tabs, .tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: none;
}

.tab-content > .active, .pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
  > {
    li {
      margin-top: -1px;
      margin-bottom: 0;
      > a {
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
        &:hover, &:focus {
          border-top-color: #ddd;
          border-bottom-color: transparent;
        }
      }
    }
    .active > a {
      border-color: transparent #ddd #ddd #ddd;
      &:hover, &:focus {
        border-color: transparent #ddd #ddd #ddd;
      }
    }
  }
}

.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
  > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    &:hover, &:focus {
      border-color: #eeeeee #dddddd #eeeeee #eeeeee;
    }
  }
  .active > a {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
    &:hover, &:focus {
      border-color: #ddd transparent #ddd #ddd;
      *border-right-color: #ffffff;
    }
  }
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
  > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    &:hover, &:focus {
      border-color: #eeeeee #eeeeee #eeeeee #dddddd;
    }
  }
  .active > a {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
    &:hover, &:focus {
      border-color: #ddd #ddd #ddd transparent;
      *border-left-color: #ffffff;
    }
  }
}

.search-section .nav-tabs > li {
  float: left;
  margin-bottom: -4px;
}

.search-wrap {
  input, select {
    height: 50px;
    /*font-family: 'proxima_novasemibold';*/
    font-family: 'proxima_nova_rgregular';
  }
  .form-control {
    border: transparent;
    &:focus {
      box-shadow: none !important;
    }
  }
  .col-sm-2 {
    padding-left: 0;
    padding-right: 0;
    border-right: 1px solid #ccc;
  }
  input.col-sm-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.home-search {
  .col-sm-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  input {
    font-family: 'proxima_novasemibold';
    font-size: 13px;
    color: #555;
  }
}

.search-wrap {
  .btn-warning {
    background: #fff none repeat scroll 0 0 !important;
    border-color: #fff !important;
    box-shadow: none !important;
    color: #000 !important;
    border-radius: 0;
  }
  .form-control {
    box-shadow: none;
  }
  input {
    border: 0;
    &[type="submit"] {
      background: #ff5a00;
      font-family: 'proxima_nova_rgbold';
      color: #fff;
      font-size: 18px;
      border: 1px solid #cb5210;
      box-shadow: -2px 0 2px rgba(0, 0, 0, 0.3);
      z-index: 6;
    }
  }
}

.search-section .tab-content {
  background: rgba(0, 0, 0, 0.24);
  padding: 15px;
  border: 1px solid #CCCCCC;
  h2 {
    color: #ffef83;
    font-size: 30px;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'proxima_novasemibold';
  }
  label {
    color: #fff;
    font-family: 'proxima_novasemibold';
    margin-right: 12px;
  }
}

.rating {
  border: none;
  float: right;
  clear: both;
  > {
    input {
      display: none;
    }
    label:before {
      margin: 2px;
      font-size: 0.95em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005";
    }
    .half:before {
      content: "\f089";
      position: absolute;
    }
    label {
      color: #ddd;
      float: right;
    }
    input:checked ~ label {
      color: #FFD700;
    }
  }
  &:not(:checked) > label:hover {
    color: #FFD700;
    ~ label {
      color: #FFD700;
    }
  }
  > {
    input:checked {
      + label:hover, ~ label:hover {
        color: #FFED85;
      }
    }
    label:hover ~ input:checked ~ label, input:checked ~ label:hover ~ label {
      color: #FFED85;
    }
  }
}

/* hover previous stars in list */

.radio-custom {
  display: inline-block;
  padding-bottom: 12px;
  label {
    width: auto;
    float: none;
    position: relative;
    padding-left: 25px;
  }
  input[type="radio"] {
    display: none;
  }
  label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(../images/uncheck.png) 0 0 no-repeat;
    background-size: 16px 16px;
    top: 3px;
  }
  input[type="radio"]:checked + label:before, + label:active, &.current label:before {
    content: "";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    background: url(../images/checked.png) 0 0 no-repeat;
    background-size: 16px 16px;
  }
}

.breadcrumb {
  background-color: #fff;
  margin-bottom: 0px;
  margin-top: 20px;
  border-radius: 0;
  padding: 10px 15px;
  border-bottom: 1px solid #CCC;
  text-align: center;
  > {
    li {
      color: #333;
      /*    font-family: 'proxima_novasemibold';*/
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 10px 0 10px;
    }
    .active {
      color: #F98445;
      font-weight: bold;
    }
    li + li:before {
      content: '>';
      padding: 0 25px 0 0;
    }
  }
  li a {
    color: #ccc;
  }
}

.bootstrap-select {
  background: #fff;
  .input-group-btn {
    position: static;
  }
  .dropdown-menu {
    min-width: 0;
    outline: 0 none;
    overflow-y: auto;
    width: 100%;
  }
}

.search-section .tab-content .tab-content {
  border: 0;
  padding: 0;
  background: transparent;
}

.banner-section-bottom {
  background: #102569;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 35px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    border-top: 6px solid #fff;
  }
}

/*.banner-section-bottom:before {*/
/*background: rgba(0, 0, 0, 0) url("../images/curve.png") no-repeat scroll center 0;*/
/*content: "";*/
/*height: 65px;*/
/*left: 50%;*/
/*margin-left: -100%;*/
/*position: absolute;*/
/*right: 0;*/
/*top: -58px;*/
/*width: 200%;*/
/*}*/

.icon-departure {
  background: url("../images/departure.png") no-repeat;
}

.plane {
  position: absolute;
  left: 50%;
  margin-left: -39px;
  margin-top: -39px;
  display: block;
  z-index: 6;
  top: 0;
  margin-top: -39px;
}

.banner-section-bottom {
  .small-heading {
    border-color: #65d8e5;
    margin-bottom: 20px;
    margin-top: 0;
    span {
      background: #102569 none repeat scroll 0 0;
    }
  }
  h5 {
    color: #fff59f;
    font-size: 25px;
    padding: 10px 0;
  }
}

.greenbtn {
  border-radius: 2px;
  background: #a8ce43;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  width: 192px;
  font-family: 'proxima_novasemibold';
  margin: 0 6px;
}

.redbtn {
  background: #ff5a00;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  width: 192px;
  font-family: 'proxima_novasemibold';
  margin: 0 6px;
  border-radius: 2px;
}

.services-top {
  padding: 45px 0;
  h3 {
    color: #102569;
    font-size: 22px;
    padding-top: 22px;
  }
  p {
    color: #555555;
    font-size: 18px;
  }
}

.services {
  padding-top: 36px;
}

.search-section {
  background: #000;
  /*background: url(../images/banner.jpg) no-repeat center top;*/
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 90px;
  font-size: 16px;
  .responsive-tabs li {
    padding-left: 0;
    padding-right: 0;
    a {
      background: #FFF;
      padding-left: 12px;
      padding-right: 12px;
      text-transform: capitalize;
      font-size: 15px;
      font-family: 'proxima_nova_rgregular';
      color: #102569;
      border-radius: 0;
      margin: 0;
      font-weight: 500;
      letter-spacing: 0.05em;
      margin-bottom: 1px;
      i {
        margin-right: 10px;
      }
    }
  }
}

.service-list {
  position: relative;
  background-color: #262521;
  &:hover .service-thumb {
    opacity: 0.05;
  }
  .service-link-box {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #fff;
    padding-left: 0px;
    padding-right: 0px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
  }
  &:hover .service-link-box {
    opacity: 1;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .service-link-box {
    h2 {
      font-size: 35px;
      margin-top: 0;
      font-family: 'proxima_nova_rgregular';
      text-transform: uppercase;
      border-bottom: 2px solid rgba(255, 255, 255, 0.7);
      display: inline-block;
      margin-bottom: 0;
    }
    h3 {
      color: #fff6d1;
      font-size: 45px;
      font-family: 'proxima_nova_rgbold';
      margin-top: 0;
      span {
        display: block;
        font-size: 35px;
      }
    }
  }
  &:hover .service-link-box .price {
    font-family: "antoniobold";
    font-size: 30px;
  }
  .service-link-box {
    a {
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      font-family: 'proxima_nova_rgbold';
      &:hover {
        color: #ffe113;
      }
    }
    &.service-box2 {
      h2 {
        font-size: 23px;
        border: 0;
        font-family: 'proxima_nova_rgbold';
        line-height: 1.5;
      }
      h3 {
        font-size: 33px;
        line-height: 1.4;
        span {
          font-size: 23px;
          font-family: 'proxima_nova_rgregular';
        }
      }
    }
    &.service-box3 {
      text-align: left;
      .transparent-content-outer {
        text-align: left;
        padding-left: 30px;
      }
      h3 {
        font-size: 29px;
      }
    }
  }
}

.transparent-content-outer {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}

.transparent-content {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.small-container {
  max-width: 1000px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.service-list .service-link-box.blue-section {
  background: rgba(0, 111, 188, 0.8) none repeat scroll 0 0;
}

.blue-content {
  border: 4px solid #a9cf46;
  display: inline-block;
  margin: auto;
  padding: 15px;
  h3 {
    margin-bottom: 0;
  }
}

.gallery-section {
  padding-top: 75px;
  .col-sm-3, .col-md-3, .col-md-6 {
    margin-top: 20px;
  }
  .service-list .service-link-box h3 span {
    font-size: 26px;
    line-height: 35px;
    text-transform: capitalize;
    font-family: 'proxima_novasemibold';
  }
}

.no-space > .col-md-6:first-child {
  margin-top: 0;
}

.partners {
  padding: 50px;
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

.small-heading {
  border-bottom: 1px solid #dadada;
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'proxima_nova_rgbold';
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-bottom: 35px;
  span {
    background: #fff none repeat scroll 0 0;
    bottom: -17px;
    display: inline-block;
    padding: 0 12px;
    position: relative;
  }
}

.partners ul {
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
    padding: 15px 28px;
  }
}

.email-section {
  background: #102569;
  color: #fff;
  padding: 45px 0;
  .container {
    max-width: 1000px;
  }
  .small-heading {
    border-color: #65d8e5;
    margin-bottom: 20px;
    span {
      background: #102569;
    }
  }
  h5 {
    color: #fff59f;
    font-size: 25px;
  }
  p {
    font-size: 21px;
    font-family: 'proxima-light';
  }
  button {
    background: #ff7e05;
    border-color: #ff7e05;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'proxima_novasemibold';
    display: table-cell;
    vertical-align: top;
    border-radius: 2px;
  }
  .form-inline {
    width: 100%;
    display: table;
    .form-group {
      display: table-cell;
      width: 80%;
      padding-right: 10px;
      vertical-align: top;
    }
    .form-control {
      width: 100%;
      height: 37px;
      border-radius: 2px;
    }
  }
}

#footer ul li a:hover, focus {
  color: #ff7e05;
}

/*=========
		Popup modal for flight passengers
===========================================*/

.traveller-nudgers {
  button {
    &.decrement {
      clear: left;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
    }
    &.increment {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
    }
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #10acc9;
    color: #10acc9;
    background-color: #fff;
    font-size: 30px;
    font-family: Arial;
    cursor: pointer;
    outline: 0;
  }
  input {
    box-sizing: border-box;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 1px solid #10acc9;
    background: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
  }
  button, input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    width: 40px;
    font-weight: 700;
    padding: 0;
    float: left;
    text-align: center;
  }
  label {
    float: left;
    clear: left;
    margin: 12px 0 0;
    color: #34363d;
    font-size: 14px;
    font-weight: 700;
  }
  span {
    float: left;
    display: inline-block;
    margin-left: 5px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
  }
}

.text-gray {
  color: #555;
}

/*=========
		End of popup modal for flight passengers
===========================================*/

/*=========
		Start Loading page
===========================================*/

div#load_screen {
  background: rgb(16, 37, 105);
  opacity: 1;
  position: fixed;
  z-index: 9999;
  top: -100px;
  width: 100%;
  margin: 0 auto;
  display: none;
  height: 1600px;
  > div#loading {
    color: #333;
    text-align: center;
    height: auto;
    font-weight: bolder;
    margin: 0 auto;
    margin-top: 200px;
  }
}

.loading-box {
  padding: 10px;
  background: #fff;
  border: 1px solid #CCCCCC;
  margin: 0 auto;
  width: 65%;
  border-radius: 10px;
}

.loading-msg {
  font-size: 17px;
}

.spinner {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 25px auto;
}

.double-bounce1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #102569;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #102569;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }
}


@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}


/*=========
		End Loading page
===========================================*/

/*=========
		support
===========================================*/

.customer-support {
  .col-sm-1 {
    width: 30px;
    line-height: 44px;
  }
  .button-section {
    padding-top: 0;
  }
  .form-control {
    border-radius: 0;
    height: 48px;
  }
  .text-box {
    height: 48px;
  }
  .btn, .button-section input[type="submit"] {
    height: 48px;
    border-radius: 0;
  }
  .btn-warning {
    background: white;
    border-left: 0;
    border-color: #ccc;
    &:hover, &:focus, &:active {
      background: white;
      box-shadow: none;
      border-color: #ccc;
    }
  }
  .open .btn-warning {
    background: white;
    box-shadow: none;
    border-color: #ccc;
    &:hover {
      background: white;
      box-shadow: none;
      border-color: #ccc;
    }
  }
  .btn-warning span {
    color: #000;
  }
}

.space-section {
  padding: 45px 0;
}

.support {
  padding-top: 40px;
  ul {
    padding-left: 0;
    list-style-type: none;
    li {
      margin-bottom: 10px;
      a {
        color: #464646;
        font-size: 16px;
        i {
          color: #ff5a00;
        }
        &:hover {
          color: #102569;
        }
      }
    }
  }
  h6 {
    color: #252525;
    font-size: 20px;
    padding: 20px 0;
    font-family: 'proxima_novasemibold';
    margin: 0;
  }
}

.question {
  background: #fbfbfb;
  border-top: 1px solid #e1e1e1;
  padding: 50px 0;
  h4 {
    font-size: 20px;
    font-family: 'proxima_novasemibold';
    color: #252525;
    a {
      color: #ff5a00;
    }
  }
}

/*=========
		Login and Register Section css
===========================================*/

.form-section {
  max-width: 812px;
  margin: 25px auto;
  border: 1px solid #c6c6c6;
  background: #fff;
  padding: 25px 32px;
}

.heading {
  color: #363636;
  font-size: 27px;
  margin-top: 0;
  font-family: 'proxima-light';
}

.sub-heading {
  color: #898989;
  font-size: 15px;
  margin-top: 0;
  font-family: 'proxima-light';
  text-transform: uppercase;
  margin-bottom: 20px;
  a {
    color: #12588f;
    font-family: 'proxima_nova_rgbold';
  }
}

.form-section input {
  &[type="text"], &[type="password"], &[type="tel"], &[type="email"] {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    height: 38px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.text-box {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  height: 38px;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.form-section .form-group {
  margin-bottom: 9px;
}

.button-section {
  padding-top: 10px;
  padding-bottom: 10px;
  input[type="submit"] {
    background: #ff5a00;
    font-family: 'proxima_nova_rgbold';
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 15px;
    height: 38px;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 0.05em;
  }
}

.form-section label {
  font-family: 'proxima-light';
  font-weight: 100;
  font-size: 14px;
  letter-spacing: -0.4px;
}

.text-white {
  color: #ffffff;
}

a.text-white:hover {
  color: #808080;
}

/*===========================================
		car search section

============================================*/

.search-result-container, .medium-container {
  max-width: 1106px;
  margin: auto;
  /*padding-left:10px;*/
  /*padding-right:10px;*/
}

.car-search-section, .search-bar {
  border: 1px solid #bababa;
  padding: 25px;
}

.heading2 {
  color: #102569;
  font-size: 25px;
  font-family: 'proxima_nova_rgbold';
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 0;
}

.spacer30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.car-search-section .bdr {
  border: 1px solid #ccc;
}

.search-bar {
  .bdr {
    border: 1px solid #ccc;
    /*border-left:0*/
  }
  .bdr-first {
    border-left: 1px solid #ccc;
  }
}

.car-search-section {
  .search-wrap .no-bder {
    border: 0;
  }
  .form-control {
    box-shadow: none;
    border-radius: 0;
  }
}

.search-bar .form-control {
  box-shadow: none;
  border-radius: 0;
}

.car-search-section .input-box, .search-bar .input-box {
  height: 52px;
}

.car-search-section .dropdown-menu, .search-bar .dropdown-menu {
  border-raidus: 0;
  padding: 0;
}

.car-search-section .search-wrap input[type="submit"], .search-bar input[type="submit"] {
  height: 52px;
  margin-left: 5px;
}

.car-search-section label {
  padding-top: 16px;
  font-family: 'proxima_nova_rgregular';
  font-weight: normal;
  font-size: 16px;
}

.search-bar {}

@media (min-width: 767px) {
  .car-search-section .input-box {
    border-left: 0 none;
    border-right: 0 none;
  }
}

.search-small {
  border: 1px solid #bababa;
}

.vacinity {
  padding: 12px;
  border-bottom: 1px solid #bababa;
}

.pickup {
  display: table-cell;
  width: 50%;
  padding: 12px;
}

.dropoff {
  display: table-cell;
  width: 50%;
  padding: 12px;
  border-left: 1px solid #bababa;
}

.table-content {
  width: 100%;
  display: table;
}

.search-small {
  span {
    color: #7d7d7d;
  }
  p {
    color: #363636;
    font-size: 14px;
  }
}

.search-button {
  background: #ff4800;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'proxima_novasemibold';
  text-align: center;
  width: 100%;
  margin-top: 8px;
}

.heading3 {
  font-size: 18px;
  text-align: center;
  color: #252525;
  margin-bottom: 15px;
  font-family: 'proxima_nova_rgregular';
}

.sidebar-listing {
  border: 1px solid #bababa;
  margin-bottom: 12px;
  h5 {
    color: #555555;
    background: #f8f8f8;
    margin: 0;
    padding: 18px 20px;
    font-size: 16px;
    font-family: 'proxima_novasemibold';
    border-bottom: 1px solid #bababa;
  }
  li {
    padding: 3px 0;
    label {
      position: relative;
      padding-left: 24px !important;
      font-family: 'proxima_nova_rgregular';
      font-weight: 200;
      margin-bottom: 0;
      letter-spacing: -0.5px;
      &::before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        position: absolute;
        top: 3px;
        left: 4px;
        border: 1px solid #c7c7c7;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -ms-border-radius: 2px;
      }
      &::after {
        content: "";
        width: 5px;
        height: 5px;
        position: absolute;
        left: 8px;
        top: 7px;
        display: block;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -ms-border-radius: 0px;
        background: #747474;
      }
    }
    input[type=checkbox] {
      visibility: hidden;
      position: absolute;
      &:checked + label {
        &::after {
          display: block;
          background: #1d97fc;
        }
        &::before {
          border: 2px solid #c7c7c7;
        }
        color: #1d97fc;
      }
    }
  }
  ul {
    list-style-type: none;
    padding: 15px 15px 20px 15px;
  }
}

.high-light {
  background: #e7f1f4;
  border: 1px solid #d2dee2;
  padding: 8px;
  font-size: 14px;
}

.text {
  margin-bottom: 14px;
  margin-top: 10px;
  font-size: 16px;
  font-family: 'proxima_nova_rgregular';
}

.yellow {
  color: #f58634;
}

.yellow-dark {
  color: #ff5a00;
}

.search-result-wrapper {
  border: 1px solid #acabab;
  margin: 15px 0;
}

.search-result {
  padding: 10px;
  border-top: 1px solid #acabab;
  padding-right: 20px;
  &:first-child {
    border-top: 0;
  }
  .price {
    font-size: 20px;
    font-family: 'proxima_novasemibold';
  }
  h6 a {
    font-size: 16px;
    color: #102569;
    font-family: 'proxima_nova_rgbold';
  }
}

.reserve {
  background: #ff5a00 none repeat scroll 0 0;
  border: 1px solid #cb5210;
  color: #fff;
  font-family: 'proxima_novasemibold';
  font-size: 16px;
  width: 94px;
  line-height: 37px;
  height: 37px;
  display: inline-block;
  text-align: center;
  margin: 8px 0;
}

.gray {
  color: #7d7d7d;
}

.quality {
  padding-left: 0;
  li {
    display: inline-block;
    white-space: nowrap;
  }
}

#pagination {
  .prev a, .next a {
    background: #f1f1f1;
  }
}

.pagination > {
  li.page > a {
    padding: 7px 12px;
  }
  .active > {
    a {
      color: #102569;
      background: white;
      border-color: #c2c2c2;
      &:focus, &:hover {
        color: #102569;
        background: white;
        border-color: #c2c2c2;
      }
    }
    span {
      color: #102569;
      background: white;
      border-color: #c2c2c2;
      &:focus, &:hover {
        color: #102569;
        background: white;
        border-color: #c2c2c2;
      }
    }
    a {
      &:after, &:focus:after {
        content: '';
        background: #102569;
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: -1px;
        left: 0;
      }
    }
    span {
      &:after, &:focus:after {
        content: '';
        background: #102569;
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: -1px;
        left: 0;
      }
    }
  }
}

.link-content {
  width: 100px;
  display: inline-block;
}

.quality p {
  margin-bottom: 4px;
}

.contact-section {
  padding: 45px 0;
  max-width: 870px;
  margin: auto;
  .form-group {
    margin-bottom: 4px;
  }
  textarea.text-box {
    height: 120px;
    resize: none;
    padding-top: 10px;
  }
  input {
    &[type="text"], &[type="password"], &[type="tel"], &[type="email"] {
      border-radius: 0;
      -webkit-border-radius: 0;
      -ms-border-radius: 0;
    }
  }
}

.text-box {
  border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
}

.white-section {
  background: #ffffff;
}

.contact-info {
  background: #fbfbfb;
  border-left: 1px solid #d7d7d7;
  padding: 25px;
  padding-left: 32px;
  h3 {
    color: #102569;
    font-size: 22px;
    font-family: 'proxima_novasemibold';
    margin-top: 0;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 22px;
    font-family: 'proxima-light';
    strong {
      font-family: 'proxima_novasemibold';
    }
  }
}

.contact-wrap {
  padding-right: 35px;
}

.contact-info p i {
  color: #555555;
  font-size: 17px;
}

.captcha-wrap {
  border: 1px solid #bababa;
  border-radius: 12px;
  min-height: 120px;
  width: 280px;
}

.large-heading {
  color: #102569;
  font-size: 40px;
  font-family: 'proxima_novasemibold';
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 0;
}

.list-inline > li {
  /*margin-top: 7px;*/
}

.date-schedule, .time-schedule, .flight-schedule, .city-select {
  padding: 0;
  list-style-type: none;
}

.date-schedule li, .time-schedule li, .flight-schedule li, .city-select li {
  padding: 3px 0;
}

.space14 {
  padding-top: 14px;
  padding-bottom: 12px;
}

.small-text {
  color: #898989;
  font-size: 13px;
}

.flight {
  padding-top: 7px;
}

.heading2 span {
  font-size: 16px;
  font-family: 'proxima-light';
  letter-spacing: 0;
  i {
    font-style: normal;
    color: #707070;
    text-transform: capitalize;
  }
}

#table-container {
  td, th {
    padding: 5px 10px !important;
    text-align: center;
  }
  > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 14px;
  }
  thead > tr > th span, tbody > tr > td span {
    color: #898989;
    font-family: 'proxima_nova_rgregular';
    font-weight: 500;
  }
  p {
    margin-bottom: 0;
    font-size: 14px;
    color: #707070;
    font-family: 'proxima_nova_rgbold';
  }
  tr td:first-child {
    text-align: left;
  }
  a {
    color: #898989;
  }
  tr:hover td {
    background: #ecfdff;
    &:first-child {
      background: #eef7fa;
    }
    a {
      color: #357db9;
    }
  }
}

.content-bottom {
  padding-top: 30px;
  padding-bottom: 0px;
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      padding: 4px 0;
      i {
        color: #1d97fc;
        &.icon-clock-o {
          color: #898989;
        }
        &.icon-plane {
          transform: rotate(47deg);
          &.return {
            transform: rotate(-131deg);
          }
        }
      }
      span {
        width: 38px;
        display: inline-block;
        color: #707070;
        &.gray {
          color: #252525;
        }
      }
    }
  }
}

.gray-btn {
  background: url(../images/btn.jpg) repeat-x;
  border: 1px solid #aaaaaa;
  border-radius: 1px;
  display: inline-block;
  white-space: nowrap;
  height: 26px;
  line-height: 26px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 8px 5px;
  color: #636363;
  font-size: 14px;
}

.yellow-btn {
  background: #ff5a00 none repeat scroll 0 0;
  border: 1px solid #cb5210;
  color: #fff;
  font-family: 'proxima_novasemibold';
  font-size: 14px;
  line-height: 26px;
  height: 26px;
  display: inline-block;
  text-align: center;
  margin: 8px 0;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}

.fare {
  color: #357db9;
  font-size: 22px;
  font-style: normal;
  letter-spacing: -0.5px;
  span {
    font-family: 'proxima_nova_rgbold';
  }
}

.sidebar-listing li label {
  display: block;
  span {
    float: right;
  }
}

.popp {
  position: relative;
}

.flight-popup {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  width: 375px;
  position: absolute;
  padding: 14px;
  background: #fff;
  left: -375px;
  margin-top: -60%;
  z-index: 66;
  display: none;
  .content-row {
    display: table;
    width: 100%;
    font-weight: 300;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    &:nth-child(3) {
      border-bottom: 0;
    }
    .thumb {
      display: table-cell;
      width: 80px;
      vertical-align: middle;
      padding: 8px 10px;
      img {
        width: 100%;
      }
    }
    .description {
      display: table-cell;
      width: 60%;
      vertical-align: middle;
      text-align: left;
      padding: 10px 12px;
    }
    .sechdule {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}

#table-container .flight-popup {
  p {
    font-family: 'proxima_nova_rgregular';
    font-size: 14px;
  }
  a {
    color: #337ab7;
  }
  .footer-popup {
    background: #f9f9f9;
    padding: 10px 19px;
    margin: -14px;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
  }
}

.table-box {
  width: 100%;
  display: table;
}

#table-container .flight-popup {
  .footer-popup {
    .total-des {
      text-align: left;
      display: table-cell;
      width: 60%;
    }
    .right-cont {
      text-align: right;
      display: table-cell;
      width: 40%;
      vertical-align: middle;
    }
  }
  .price-total {
    color: #357db9;
    font-family: 'proxima_nova_rgbold';
  }
  .footer-popup .right-cont a {
    color: #636363;
    font-size: 13px;
    border: 1px solid #aaaaaa;
    i {
      color: #ff5a00;
    }
  }
}

.sticky {
  background: white none repeat scroll 0 0;
  margin-left: 2px !important;
  position: fixed;
  top: 0;
  width: 1117px;
}

.closep {
  background: #fff none repeat scroll 0 0;
  border-radius: 60px;
  box-shadow: 3px -3px 4px rgba(0, 0, 0, 0.5);
  height: 32px;
  line-height: 31px;
  position: absolute;
  right: -16px;
  text-align: center;
  top: -12px;
  width: 32px;
}

.footer-bottom {
  background: url(../images/banner-bottom.jpg) center top no-repeat;
  background-size: cover;
  color: #fff;
  p {
    font-size: 18px;
    font-family: 'proxima-light';
    padding: 10px 0;
  }
}

.spacer60 {
  padding: 60px 0;
}

.footer-bottom h6 {
  font-size: 28px;
  font-family: 'proxima_nova_rgregular';
  text-transform: uppercase;
  span {
    color: #f58634;
    font-family: 'proxima_nova_rgbold';
  }
}

.spacetop45 {
  padding-top: 45px;
}

.chat {
  width: 330px;
  position: fixed;
  right: 40px;
  bottom: 0;
  background: #102569;
  z-index: 999999;
  header {
    background: #102569;
    color: #fff;
    font-family: 'proxima_novasemibold';
    font-size: 21px;
    a {
      color: #fff;
      display: block;
      padding: 10px;
      img {
        margin-right: 10px;
      }
    }
    i {
      font-size: 32px;
      vertical-align: middle;
      &.icon-angle-down {
        float: right;
      }
    }
  }
}

.chating-wrap {
  position: relative;
  display: none;
  &.spanner {
    display: block;
  }
}

.chat-box {
  background: #fff;
  border: 1px solid #6a6d79;
  height: 280px;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.user-details {
  height: 90px;
  .user-pic {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    overflow: hidden;
    float: left;
    img {
      width: 64px;
      height: 64px;
      border-radius: 100%;
      -webkit-border-radius: 100%;
    }
  }
  .user-info {
    margin-left: 84px;
    padding-top: 10px;
  }
}

.user-info {
  .userName {
    color: #252525;
    font-size: 18px;
  }
  .user-des {
    color: #636363;
    font-size: 15px;
    font-family: 'proxima-light';
  }
}

.chat ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    clear: both;
    margin-bottom: 12px;
  }
}

.usename {
  display: block;
  font-size: 16px;
  color: #1d97fc;
}

.chat-form {
  border: 1px solid #6a6d79;
  padding: 15px;
  background: #fff;
  border-top: 0;
  margin-bottom: 25px;
  textarea {
    width: 74%;
    height: 40px;
    resize: none;
    border: 0;
  }
  input[type="submit"] {
    background: #a8ce43 none repeat scroll 0 0;
    border: 1px solid #83a629;
    color: #fff;
    font-family: 'proxima_novasemibold';
    font-size: 14px;
    line-height: 26px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0px 0;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    width: 76px;
    float: right;
  }
}

/*#footer {*/
/*background: #f4f4f4;*/
/*padding: 40px 0 20px;*/
/*font-size: 14px;*/
/*}*/

#footer {
  position: relative;
  margin-top: -150px;
  /* negative value of footer height */
  /*height: 150px;*/
  background: #f4f4f4;
  clear: both;
  padding: 40px 0 20px;
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      padding-bottom: 5px;
      a {
        color: #898989;
      }
    }
  }
  h4 {
    color: #102569;
    text-transform: uppercase;
    font-family: 'proxima_nova_rgbold';
    font-size: 14px;
    padding-bottom: 22px;
    margin-bottom: 0;
    /*margin-top : -150px;*/
  }
  .socials li {
    display: inline-block;
    a {
      background: #bdbdbd;
      color: #f4f4f4;
      width: 36px;
      height: 36px;
      border-radius: 4px;
      text-align: center;
      line-height: 36px;
      display: inline-block;
      font-size: 18px;
      &:hover {
        color: #fff;
      }
      &.icon-facebook-f:hover {
        background: #325c94;
      }
      &.icon-linkedin:hover {
        background: #0073b2;
      }
      &.icon-twitter:hover {
        background: #00abdc;
      }
      &.icon-google-plus:hover {
        background: #ea3032;
      }
    }
  }
}

.cards li {
  display: inline-block;
  a {
    background-image: url(../images/card.png);
    background-repeat: no-repeat;
    width: 61px;
    height: 38px;
    display: block;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    &:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
  &.card1 a {
    background-position: 0 0;
  }
  &.card2 a {
    background-position: -61px 0;
  }
  &.card3 a {
    background-position: -122px 0;
  }
  &.card4 a {
    background-position: -183px 0;
  }
  &.card5 a {
    background-position: -244px 0;
  }
}

.cards2 {
  img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    margin-right: 15px;
  }
  a:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    margin-right: 15px;
  }
}

.copyright {
  background: #252525;
  text-align: center;
  p {
    margin-bottom: 0;
    color: #ebebeb;
    font-size: 14px;
    padding: 14px 0;
  }
}

.search-result-wrapper .responsive-tabs li {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #ccc;
  a {
    background: #fafafa;
    margin: 0;
    border: 0 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
  }
  &.active {
    > a {
      background: #fff;
      color: #102569;
    }
    > a:after {
      width: 100%;
      height: 2px;
      background: #102569;
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
    }
  }
  > a:hover {
    background: #fff;
    color: #102569;
  }
}

@media (min-width: 767px) {
  .search-result-wrapper .responsive-tabs li {
    width: 33.3%;
    border-right: 1px solid #ccc;
    text-align: center;
    &:last-child {
      border-right: 0;
    }
  }
}

@media (max-width: 767px) {
  .search-wrap .col-sm-2 {
    margin-bottom: 10px;
    background: #fff;
  }
  #bs-navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  .search-bar .bdr {
    border-left: 1px solid #ccc;
  }
  .gallery-section {
    padding-top: 0;
  }
  .service-list {
    margin-top: 20px;
    img {
      width: 100%;
    }
  }
  .gallery-section {
    .col-sm-3, .col-md-3, .col-md-6 {
      margin-top: 0;
    }
  }
  .hotel-city {
    margin-bottom: 10px;
  }
  .car-search-section .search-wrap input[type="submit"], .search-bar input[type="submit"] {
    margin-left: 0;
  }
  .top {
    background: #fff none repeat scroll 0 0;
    clear: both;
    color: #333333;
    font-size: 16px;
    padding-top: 24px;
    text-align: center;
    text-transform: uppercase;
    ul {
      float: none;
      li {
        color: #898989;
        display: inline-block;
        float: none;
        font-family: "proxima_nova_rgregular";
        font-size: 14px;
      }
    }
    .navbar-nav .open .dropdown-menu {
      background-color: white;
      border: 0 none;
      box-shadow: none;
      float: none;
      left: inherit;
      margin-top: 0;
      position: absolute;
      right: 0;
      width: auto;
    }
  }
  .nav.login-section li:last-child a {
    border-left: 1px solid #898989;
  }
  .search-result-text {
    text-align: center;
  }
}

@media (max-width: 520px) {
  .imgbox {
    text-align: center;
  }
  .download-text {
    display: block;
    text-align: center;
    padding-bottom: 15px;
  }
  .chat-form textarea {
    width: 69%;
  }
  .chat {
    bottom: 0;
    left: 10px;
    position: fixed;
    right: 10px;
    width: auto;
  }
  .partners {
    padding: 50px 4px;
  }
}

@media (max-width: 480px) {
  .or {
    display: block;
    padding: 8px 0;
  }
}

@media (max-width: 410px) {
  .imgbox img {
    height: 45px;
  }
}